<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Купить PopIt</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div class="window_size">
            <div class="headerInner">
                <a class="logo" href="/">НЕ_ПУПЫРКА.РУ</a>
                <nav>
                    <ul>
                        <li><a class="menu" href="/">ГЛАВНАЯ</a></li>
                        <li><a class="menu" href="/specialoffer">СКИДКИ</a></li>
                        <li><a class="menu" href="/contacts">КОНТАКТЫ</a></li>
                    </ul>
                </nav>
            </div>    
        </div>
    </header>
    <main>
        <section class="checkout_form">
            <div class="window_size">
                <div class="checkout_form_window">
                    <h1 class="checkout_form_window__buy_h1">Оформление заказа</h1>
                    <div class="checkout_form_window__line"></div>
                    <form action="#" name="newform" method="post">
                        <div class="formInputs">
                            <p class="">Имя<span class="red"> *</span></p>
                            <input type="text">
                            <p class="">Фамилия<span class="red"> *</span></p>
                            <input type="text">
                            <p class="">Телефон<span class="red"> *</span></p>
                            <input type="text">
                            <p class="">Дата доставки<span class="red"> *</span></p>
                            <input type="text">
                            <p class="">Адрес<span class="red"> *</span></p>
                            <input type="text">
                            <p class="checkout_form_window__line_info">*Обязательные поля</p>
                            <input class="checkout_form_window__line_buy" type="button" value="ОФОРМИТЬ">
                        </div>
                    </form>
                </div>  
            </div>   
        </section>
    </main>
    <footer>
        <div class="window_size">
            <div class="footer_inner">
                <p class="footer_inner__logo">НЕ_ПУПЫРКА.РУ</p>
                <a class="footer_inner__a" href="/">Способы оплаты</a>
                <a class="footer_inner__a" href="/">Доставка</a>
                <a class="footer_inner__a" href="/">Опт</a>
                <a class="footer_inner__a" href="/contacts">Контакты</a>
            </div>
        </div>    
    </footer>
</body>
</html>
